/* General Home Section Styles */

.home {
    padding: 0;
    margin: 0;
    /* Removed any margin or padding that caused white space */
    text-align: center;
    background-color: #f0f4f8;
    overflow-x: hidden;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}


/* Hero Section */

.hero-section {
    position: relative;
    width: 100%;
    height: 60vh;
    /* Increased height for better visibility */
    display: flex;
    justify-content: center;
    align-items: flex-start;
    /* Change this to align items at the start */
}

.hero-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.hero-text {
    position: absolute;
    top: 20px;
    /* Adjust the distance from the top as needed */
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    color: #fff;
}

.hero-text h1 {
    font-size: 42px;
    font-weight: bold;
    color: #21349b;
    text-shadow: 2px 2px 3px rgba(206, 126, 35, 0.56);
}

.hero-text p {
    font-size: 30px;
    color: #21349b;
    text-shadow: 1px 1px 1px rgba(162, 92, 45, 0.63);
}


/* Responsive for Mobile */

@media (max-width: 768px) {
    .hero-section {
        height: 50vh;
        /* Adjust height for mobile */
    }
    .hero-text h1 {
        font-size: 28px;
    }
    .hero-text p {
        font-size: 16px;
    }
}