/* Footer.css */


/* Styling for the footer section */

.footer {
    background-color: #21476d;
    /* Updated to deep blue */
    padding: 20px 0;
    text-align: center;
    color: #fff;
}

.footer p {
    margin: 0;
    font-size: 1rem;
    color: #f7ac86;
    /* Updated to light orange gradient */
}


/* Responsive styling */

@media (max-width: 768px) {
    .footer {
        padding: 15px 0;
    }
    .footer p {
        font-size: 0.9rem;
    }
}